/*BOTON FLOTANTE*/
.float{
	position:fixed;
	width:55px;
	height:55px;
	bottom:50px;
	right:50px;
	background-color:whitesmoke;
	color: black;
	border-radius:50px;
	padding-top: 2px;
    text-align: center;
    font-size:30px;
	box-shadow: 2px 2px 3px whitesmoke;
    z-index:100;
        -webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}
.float:hover {
	text-decoration: none;
	color: whitesmoke;
        background-color:black;
}

    /*Animacion de rebote*/
    @-webkit-keyframes bounce-in-top {
    0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    }
    38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    }
    55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    }
    @keyframes bounce-in-top {
    0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    }
    38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    }
    55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    }


/*HEADER NAV*/

.header{
        font-size: 1.2rem;
        position: fixed;
        z-index: 100;
        width: 100%;
}


.header__img{
    height: 3.8rem;
    border-radius: 5rem;    
    transition: all 2s;
    margin-left: 10px;
}

.header__img:hover{
    transform: translate(1rem);
}



.contenedor__logo{
    margin-right: 1.5rem;
}

.options__click{
    font-size: 1.3rem;
    color: white !important;
}

.options__click:hover{
    font-weight: bold;
}



/*HERO SECTION*/
.hero__section{
    height: 100vh;
    background-image: url("../assets/img/Jairo_1.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1; /*Para ordenar div - suerponer uno por otro */
}

.hero__titulo{   
    color: white ;
    font-size: 5rem;
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.hero__subtitulo{
    font-size: 2.5rem;
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.btn__aboutme{
    font-size: 1.2rem;
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.hero__section{
    -webkit-animation: bg-pan-top 45s both;
            animation: bg-pan-top 45s both;
}

    /*Movimiento de fondo*/

@-webkit-keyframes bg-pan-top {
    0% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}
@keyframes bg-pan-top {
    0% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

@-webkit-keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    }
}



/*Slider Bar*/
.bg__sliderbar{
	background-color: black;
}

.title__sliderbar{
	color: white;
}

.subtitle__sliderbar{
	color: blac;

}

.hr__sliderbar{
	border: 1px solid white;
}

.categorias__sliderbar{
	color: white ;
}


.icon__sliderbar{
        color: white;
}

.decoracion__text:hover{
        text-decoration: underline  white;
}



/*Galeria*/
.col-12 img {
        opacity: 0.8;
        cursor: pointer;
        margin: 1rem;
        width: 100%;
}

.col-12 img:hover {
        opacity: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}